<!DOCTYPE html>
<html>
  <head>
    <title>Linkedin Node Authentication</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
    />
    <style>
      .linkedin {
        background-color: #0073b1 !important;
        color: #fff !important;
      }
      .fa-linkedin-f:before,
      .fa-linkedin:before {
        content: '\f0e1';
      }
    </style>
  </head>

  <body>
	  {{{body}}}
  </body>
  
</html>